<!-- register.html -->
<h1>Register Page</h1>
<p>{{ message }}</p>

<form role="form" ng-submit="create(user)">

  <div class="form-group">
    <label>First name</label>
    <input type="text" class="form-control" placeholder="Enter first name" ng-model="user.first_name">
  </div>

  <div class="form-group">
    <label>Last name</label>
    <input type="text" class="form-control" placeholder="Enter last name" ng-model="user.last_name">
  </div>

  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
  </div>
  
  <button type="submit" class="btn btn-default">Create</button>
</form>

<div ui-view></div>